---
layout: layouts/base.njk
---
<article id="writeup-content">
    <h1>{{ title }}</h1>
    {% if tags %}<p class="writeup-meta">{{ tags | join(", ") }}</p>{% endif %}
    {{ content | safe }}
</article>
