<nav class="navbar">
    <div class="logo"></div>

    <ul class="nav-links">
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio.html">Developing</a></li>
            <li><a href="/cybersecurity.html">Cybersecurity</a></li>
        </div>
    </ul>
</nav>
